<!DOCTYPE HTML>
<html>
<head>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/styles.css"/>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<form class="form-horizontal">
    <div class="form-group">
        <label class="col-md-4 control-label" for="modelAuto">Model auto</label>
        <div class="col-md-4">
            <input id="modelAuto" name="modelAuto" type="text" placeholder="Model auto" class="form-control input-md"/>
            <span class="help-block">Enter the desired model auto</span>
        </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="manufactureDate">Manufacture date</label>
        <div class="col-md-4">
            <input id="manufactureDate" name="manufactureDate" type="text" placeholder="Manufacture date"
                   class="form-control input-md" required=""/>
            <span class="help-block">Enter the desired manufacture date</span>
        </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="enginePower">Engine power</label>
        <div class="col-md-4">
            <input id="enginePower" name="enginePower" type="text" placeholder="Engine power"
                   class="form-control input-md" required=""/>
            <span class="help-block">Enter the desired engine power</span>
        </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="daysToUse">Days to use</label>
        <div class="col-md-4">
            <input id="daysToUse" name="daysToUse" type="text" placeholder="Days to use" class="form-control input-md"
                   required=""/>
            <span class="help-block">Enter days to use</span>
        </div>
    </div>

    <!-- Button -->
    <div class="form-group">
        <label class="col-md-4 control-label" for="submitApplication"></label>
        <div class="col-md-4">
            <button id="submitApplication" name="submitApplication" class="btn btn-primary">Submit application
            </button>
        </div>
    </div>
</form>
</body>
</html>

