<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/styles.css"/>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<a href="/logout" class="btn btn-primary">Logout</a>

<div class="container">
    <h2>Applications</h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>User name</th>
            <th>Model auto</th>
            <th>Manufacture date</th>
            <th>Engine power</th>
            <th>Start date</th>
            <th>End date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="application : ${applications}">
            <td th:text="${application.user.name}"></td>
            <td th:text="${application.car.model}"></td>
            <td th:text="${application.car.manufactureDate}"></td>
            <td th:text="${application.car.enginePower}"></td>
            <td th:text="${application.startTime}"></td>
            <td th:text="${application.endTime}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>

