<!DOCTYPE HTML>
<html>
<head>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/styles.css"/>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<form class="form-horizontal" action="/login" method="post">

    <div class="form-group">
        <label class="col-md-4 control-label" for="login">Login</label>
        <div class="col-md-2">
            <input id="login" name="username" type="text" placeholder="login" class="form-control input-md"
                   required=""/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label" for="password">Password</label>
        <div class="col-md-2">
            <input id="password" name="password" type="password" placeholder="password" class="form-control input-md"
                   required=""/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label" for="buttonLogin"></label>
        <div class="col-md-8">
            <button id="buttonLogin" name="button1id" class="btn btn-primary">Login</button>
            <a href="/register" id="buttonRegister" name="buttonRegister" class="btn btn-primary">Register</a>
        </div>
    </div>
</form>
</body>
</html>

